
@model IEnumerable<CommonLayer.CommonModels.CourseTestModel>
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    TempData.Keep("CourseID");
}

<div class="box-header with-border">
    <h3 class="box-title">CourseTest List</h3>
    <div style="float:right">
        <button value="Create New"
                class="btn btn-primary btn-sm" type="button" id="addressSearch"
                onclick="location.href='@Url.Action("Index","Course")'">
            Back
        </button>
    </div>
</div>
<br />


<div class="col-lg-12">
    <button value="Create New"
            class="btn btn-primary btn-sm" type="button" id="addressSearch"
            onclick="location.href='@Url.Action("CourseTestCreate")'">
        Create New
    </button>
</div>
<div class="col-lg-12">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>Question</b></td>
                <td><b>Answer</b></td>
                <td><b>View Result</b></td>
                <td><b>Edit</b></td>
                <td><b>Delete</b></td>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Question</td>
                        <td>@item.Answer1</td>
                        @*<td>@item.ConfirmPassword</td>*@

                        <td>
                            <button value="Edit"
                                    class="btn btn-success btn-sm" type="button" id="result"
                                    onclick="location.href='@Url.Action("ViewResult", "Course" ,new {id = item.CourseID })'">
                                View Result
                            </button>
                        </td>
                        <td>
                            <button value="Edit"
                                    class="btn btn-primary btn-sm" type="button" id="addressSearch"
                                    onclick="location.href='@Url.Action("CourseTestCreate", "Course" ,new {id = item.Id })'">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button value="Delete"
                                    class="btn btn-danger btn-sm" type="button" id="addressSearch"
                                    onclick="location.href='@Url.Action("CourseTestDelete", "Course" ,new {id = item.Id })'">
                                Delete
                            </button>
                        </td>

                    </tr>

                }
            }

        </tbody>
    </table>
</div>

