@model IEnumerable<CommonLayer.CommonModels.CourseModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="box-header with-border">
    <h3 class="box-title">Courses List</h3>
</div>
<br />


<div class="col-lg-12">
    <button value="Create New"
            class="btn btn-primary btn-sm" type="button" id="addressSearch"
            onclick="location.href='@Url.Action("Create")'">
        Create New
    </button>
</div>
<div class="col-lg-12">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
                <td><b>Description</b></td>

                <td><b>Edit</b></td>
                <td><b>Delete</b></td>
                <td><b>Sessions</b></td>
                <td><b>Add Test</b></td>
                <td><b>View Details</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    @*<td>@item.ConfirmPassword</td>*@

                    <td>
                        <button value="Edit"
                                class="btn btn-primary btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("Create", "Course" ,new {id = item.Id })'">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button value="Delete"
                                class="btn btn-danger btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("Delete", "Course" ,new {id = item.Id })'">
                            Delete
                        </button>
                    </td>
                    <td>
                        <button value="AddSession"
                                class="btn btn-success btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("Sessions", "Course",new {id = item.Id })'">
                            Add Session
                        </button>
                    </td>
                    <td>
                        <button value="AddSession"
                                class="btn btn-success btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("CourseTest", "Course",new {id = item.Id })'">
                            Add Test
                        </button>
                    </td>
                    <td>
                        <button value="AddSession"
                                class="btn btn-success btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("ViewCourse", "Course",new {id = item.Id })'">
                            View Details
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

