@model IEnumerable<CommonLayer.CommonModels.CourseSessionModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    TempData.Keep("CourseID");
}

<div class="box-header with-border">
    <h3 class="box-title">CourseSession List</h3>
    <div style="float:right">
        <button value="Create New"
                class="btn btn-primary btn-sm" type="button" id="addressSearch"
                onclick="location.href='@Url.Action("Index","Course")'">
            Back
        </button>
    </div>
<br />


<div class="col-lg-12">
    <button value="Create New"
            class="btn btn-primary btn-sm" type="button" id="addressSearch"
            onclick="location.href='@Url.Action("SessionCreate")'">
        Create New
    </button>
</div>
<div class="col-lg-12">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>Topic</b></td>
                <td><b>Document1</b></td>

                <td><b>Edit</b></td>
                <td><b>Delete</b></td>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Topic</td>
                    <td>@item.Document1</td>
                    @*<td>@item.ConfirmPassword</td>*@

                    <td>
                        <button value="Edit"
                                class="btn btn-primary btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("SessionCreate", "Course" ,new {id = item.Id })'">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button value="Delete"
                                class="btn btn-danger btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("SessionDelete", "Course" ,new {id = item.Id })'">
                            Delete
                        </button>
                    </td>
                    
                </tr>

            }
        </tbody>
    </table>
</div>

