@model CommonLayer.CommonModels.CourseModel
@{
    ViewBag.Title = "ViewCourse";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="box-header with-border">
    <h3 class="box-title">Course Details</h3>
    <div style="float:right">
        <button value="Create New"
                class="btn btn-primary btn-sm" type="button" id="addressSearch"
                onclick="location.href='@Url.Action("Index","Course")'">
            Back
        </button>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 style="float:right">ID:@Model.Id</h4>
                <h1>@Model.Name</h1>
                <p>@Model.Description</p>
                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@
            </div>
        </div>
        <div style="height:25px">

        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="col-lg-4"><span style="font-size:large"><b> Current Enrolments </b></span>  :<span style="color:lightseagreen;font-size:large">500</span></p>
                <div class="col-lg-8">
                    <div class="col-sm-3">
                        <button class="btn btn-primary">Edit Test</button><br /><br />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary">Results</button><br /><br />
                    </div>
                    @if (!Model.Status)
                    {
                        <div class="col-sm-3">
                            <a href="@Url.Action("StartTest", "Course", new { courseID = @Model.Id,isStart=true })" class="btn btn-primary">Start Test</a><br /><br />
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-3">
                            <a href="@Url.Action("StartTest", "Course", new { courseID = @Model.Id, isStart = false })" class="btn btn-primary">End Test</a><br /><br />
                        </div>
                    }

                </div>
            </div>
        </div>
        <div style="height:50px">

        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Topic Name</th>
                                <th>Send Notification</th>
                                <th>Last Sent</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CourseSessionList)
                            {
                                <tr>
                                    <td>@item.Topic</td>
                                    <td>
                                        @*<button type="button" class="btn btn-success">Send</button>*@
                                        <a href="@Url.Action("SendTopicNotification", "Course", new { topicID = item.Id, courseID = item.CourseID })" class="btn btn-success">Send</a>
                                    </td>
                                    <td>12/7/2017 12:30pm</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
